{% extends 'base.html' %}
{% load static %}
{% block content %}
   
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- Video player 1422x800 -->
  
                    <img width="954" height="535" controls class="tm-mb-40" src="{{post.image.url}}">
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                            <p class="tm-mb-40">{{post.creat_at}}</p>
                            <p>{{post.description}}
                            </p>
                            <span class="d-block text-right tm-color-primary">Creative . Design . Business</span>
                        </div>
                        
                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                            {% for comment in post.comment_set.all %}
                          
                                   
                            <div class="tm-comment-reply tm-mb-45">
                                <hr>
                                <div class="tm-comment">
                                    <figure class="tm-comment-figure">
                                        <img src={{coment.image.url}} alt="Image" class="mb-2 rounded-circle img-thumbnail">
                                        <figcaption class="tm-color-primary text-center">{{ comment.author }}</figcaption>    
                                    </figure>
                                    <p>
                                        {{comment.description}}
                                    </p>
                                </div>                                
                                <span class="d-block text-right tm-color-primary">{{comment.created}}</span>
                            </div>
                            {% endfor %}
                            <form action="" class="mb-5 tm-comment-form">
                                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                <div class="mb-4">
                                    <input class="form-control" name="name" type="text">
                                </div>
                                <div class="mb-4">
                                    <input class="form-control" name="email" type="text">
                                </div>
                                <div class="mb-4">
                                    <textarea class="form-control" name="message" rows="6"></textarea>
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                                </div>                                
                            </form>                          
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            {% for category in categories %}
                            <li><a href="#" class="tm-color-primary">{{category.name}}</a></li>
                           
                            {% endfor %}
                        </ul>
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
                        {% for related_post in post.category.post_set.all %}
                            {% if related_post.id != post.id %}
                        <a href="{% url 'blog:post' pk=related_post.id %}" class="d-block tm-mb-40">
                            <figure>
                                <img src="{{ related_post.image.url }}" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">{{related_post.title}}</figcaption>
                            </figure>
                        </a>
                      
                        {% endif %}
                        {% endfor %}
                    </div>                    
                </aside>
            </div>
{% endblock %}